USE [master]
GO
/****** Object:  Database [CarVipPro]    Script Date: 10/25/2025 8:35:27 AM ******/
CREATE DATABASE [CarVipPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarVipPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGK\MSSQL\DATA\CarVipPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarVipPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NGK\MSSQL\DATA\CarVipPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarVipPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarVipPro]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarCompany]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatalogName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[FullName] [nvarchar](120) NOT NULL,
	[IdentityCard] [nvarchar](60) NULL,
	[Address] [nvarchar](255) NULL,
	[ZipCode] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriveSchedule]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriveSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ElectricVehicleId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[StartTime] [datetime2](0) NOT NULL,
	[EndTime] [datetime2](0) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElectricVehicle]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElectricVehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CarCompanyId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Model] [nvarchar](120) NOT NULL,
	[Version] [nvarchar](80) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Specification] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Color] [nvarchar](60) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[DateTime] [datetime2](0) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ElectricVehicleId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleCategory]    Script Date: 10/25/2025 8:35:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Email], [Phone], [FullName], [Password], [Role], [IsActive]) VALUES (1, N'staff02@carvippro.com', N'0909987675', N'Nguyễn Văn Nhân', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Staff', 1)
INSERT [dbo].[Account] ([Id], [Email], [Phone], [FullName], [Password], [Role], [IsActive]) VALUES (3, N'admin@gmail.com', N'0909987675', N'Trần Thu Hà', N'73l8gRjwLftklgfdXT+MdiMEjJwGPVMsyVxe16iYpk8=', N'Manager', 1)
INSERT [dbo].[Account] ([Id], [Email], [Phone], [FullName], [Password], [Role], [IsActive]) VALUES (4, N'staff01@carvippro.com', N'0909987675', N'Lê Văn Jusa', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Staff', 1)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[CarCompany] ON 

INSERT [dbo].[CarCompany] ([Id], [CatalogName], [Description], [IsActive]) VALUES (1, N'OTVR-A30', NULL, 1)
INSERT [dbo].[CarCompany] ([Id], [CatalogName], [Description], [IsActive]) VALUES (2, N'MTVR-L20', NULL, 1)
INSERT [dbo].[CarCompany] ([Id], [CatalogName], [Description], [IsActive]) VALUES (4, N'VinFast', N'Hãng xe điện Việt Nam tiên phong với các mẫu ô tô và xe máy điện thông minh.', 1)
SET IDENTITY_INSERT [dbo].[CarCompany] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Email], [Phone], [FullName], [IdentityCard], [Address], [ZipCode]) VALUES (1, N'namntse182536@fpt.edu.vn', N'0909987678', N'Nam', N'079878766654', N'29 Le Van Viet', NULL)
INSERT [dbo].[Customer] ([Id], [Email], [Phone], [FullName], [IdentityCard], [Address], [ZipCode]) VALUES (3, N'thanhnam.91.tt2@gmail.com', N'0909987678', N'Nam', N'079878766654', N'29 Le Van Viet', NULL)
INSERT [dbo].[Customer] ([Id], [Email], [Phone], [FullName], [IdentityCard], [Address], [ZipCode]) VALUES (4, N'anh.nguyen@gmail.com', N'0901123456', N'Nguyễn Văn Anh', N'079123456789', N'12 Nguyễn Huệ, Q.1, TP.HCM', N'70000')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[DriveSchedule] ON 

INSERT [dbo].[DriveSchedule] ([Id], [ElectricVehicleId], [CustomerId], [AccountId], [StartTime], [EndTime], [Status]) VALUES (1, 1, 3, 1, CAST(N'2025-10-18T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-18T01:00:00.0000000' AS DateTime2), N'COMPLETED')
INSERT [dbo].[DriveSchedule] ([Id], [ElectricVehicleId], [CustomerId], [AccountId], [StartTime], [EndTime], [Status]) VALUES (2, 1, 1, 1, CAST(N'2025-10-19T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-19T01:00:00.0000000' AS DateTime2), N'COMPLETED')
INSERT [dbo].[DriveSchedule] ([Id], [ElectricVehicleId], [CustomerId], [AccountId], [StartTime], [EndTime], [Status]) VALUES (3, 1, 1, 1, CAST(N'2025-10-20T00:00:00.0000000' AS DateTime2), CAST(N'2025-10-20T02:00:00.0000000' AS DateTime2), N'CANCELLED')
SET IDENTITY_INSERT [dbo].[DriveSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[ElectricVehicle] ON 

INSERT [dbo].[ElectricVehicle] ([Id], [CarCompanyId], [CategoryId], [Model], [Version], [Price], [Specification], [ImageUrl], [Color], [IsActive]) VALUES (1, 1, 1, N'VF12', N'1.0', CAST(200000.00 AS Decimal(18, 2)), NULL, NULL, N'Xanh', 1)
INSERT [dbo].[ElectricVehicle] ([Id], [CarCompanyId], [CategoryId], [Model], [Version], [Price], [Specification], [ImageUrl], [Color], [IsActive]) VALUES (8, 1, 1, N'VinFast VF e34', N'Standard 2024', CAST(700000.00 AS Decimal(18, 2)), N'Pin 42 kWh, quãng đường 318 km, dẫn động cầu trước, công suất 110 kW.', N'https://vinfastvietnam.net.vn/uploads/data/3097/imgproducts/vinfastvietnam.net.vnvfe34.jpg3.jpg', N'Trắng ngọc trai', 1)
INSERT [dbo].[ElectricVehicle] ([Id], [CarCompanyId], [CategoryId], [Model], [Version], [Price], [Specification], [ImageUrl], [Color], [IsActive]) VALUES (9, 1, 2, N'VinFast VF 8', N'Plus 2024', CAST(102000.00 AS Decimal(18, 2)), N'Pin 82 kWh, phạm vi 420 km, AWD, 402 mã lực.', N'https://vinfast-cars.vn/wp-content/uploads/2025/02/vinfast-vf8-den.png', N'Xanh navy', 1)
SET IDENTITY_INSERT [dbo].[ElectricVehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [CustomerId], [AccountId], [DateTime], [Total], [PaymentMethod], [Status]) VALUES (1, 1, 1, CAST(N'2025-10-18T10:58:11.0000000' AS DateTime2), CAST(400000.00 AS Decimal(18, 2)), N'MOMO', N'CANCELLED')
INSERT [dbo].[Order] ([Id], [CustomerId], [AccountId], [DateTime], [Total], [PaymentMethod], [Status]) VALUES (2, 1, 1, CAST(N'2025-10-18T11:01:45.0000000' AS DateTime2), CAST(400000.00 AS Decimal(18, 2)), N'MOMO', N'COMPLETED')
INSERT [dbo].[Order] ([Id], [CustomerId], [AccountId], [DateTime], [Total], [PaymentMethod], [Status]) VALUES (3, 1, 4, CAST(N'2025-10-19T06:42:33.0000000' AS DateTime2), CAST(200000.00 AS Decimal(18, 2)), N'MOMO', N'CANCELLED')
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ElectricVehicleId], [Quantity], [TotalPrice]) VALUES (1, 1, 1, 2, CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ElectricVehicleId], [Quantity], [TotalPrice]) VALUES (2, 2, 1, 2, CAST(400000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ElectricVehicleId], [Quantity], [TotalPrice]) VALUES (3, 3, 1, 1, CAST(200000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleCategory] ON 

INSERT [dbo].[VehicleCategory] ([Id], [CategoryName], [IsActive]) VALUES (1, N'Xe motor tốc hành', 1)
INSERT [dbo].[VehicleCategory] ([Id], [CategoryName], [IsActive]) VALUES (2, N'Xe ô tô vượt rào', 1)
INSERT [dbo].[VehicleCategory] ([Id], [CategoryName], [IsActive]) VALUES (3, N'Sedan điện', 1)
SET IDENTITY_INSERT [dbo].[VehicleCategory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Account_Email]    Script Date: 10/25/2025 8:35:28 AM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ_Account_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_Email]    Script Date: 10/25/2025 8:35:28 AM ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [UQ_Customer_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CarCompany] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ElectricVehicle] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (sysutcdatetime()) FOR [DateTime]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[VehicleCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DriveSchedule]  WITH CHECK ADD  CONSTRAINT [FK_DriveSchedule_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[DriveSchedule] CHECK CONSTRAINT [FK_DriveSchedule_Account]
GO
ALTER TABLE [dbo].[DriveSchedule]  WITH CHECK ADD  CONSTRAINT [FK_DriveSchedule_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[DriveSchedule] CHECK CONSTRAINT [FK_DriveSchedule_Customer]
GO
ALTER TABLE [dbo].[DriveSchedule]  WITH CHECK ADD  CONSTRAINT [FK_DriveSchedule_EV] FOREIGN KEY([ElectricVehicleId])
REFERENCES [dbo].[ElectricVehicle] ([Id])
GO
ALTER TABLE [dbo].[DriveSchedule] CHECK CONSTRAINT [FK_DriveSchedule_EV]
GO
ALTER TABLE [dbo].[ElectricVehicle]  WITH CHECK ADD  CONSTRAINT [FK_EV_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[VehicleCategory] ([Id])
GO
ALTER TABLE [dbo].[ElectricVehicle] CHECK CONSTRAINT [FK_EV_Category]
GO
ALTER TABLE [dbo].[ElectricVehicle]  WITH CHECK ADD  CONSTRAINT [FK_EV_Company] FOREIGN KEY([CarCompanyId])
REFERENCES [dbo].[CarCompany] ([Id])
GO
ALTER TABLE [dbo].[ElectricVehicle] CHECK CONSTRAINT [FK_EV_Company]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Account]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_EV] FOREIGN KEY([ElectricVehicleId])
REFERENCES [dbo].[ElectricVehicle] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_EV]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [CK_Account_Role] CHECK  (([Role]=N'Manager' OR [Role]=N'Staff'))
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [CK_Account_Role]
GO
ALTER TABLE [dbo].[DriveSchedule]  WITH CHECK ADD  CONSTRAINT [CK_Drive_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'IS_HAPPENING' OR [Status]=N'COMING_SOON' OR [Status]=N'COMPLETED'))
GO
ALTER TABLE [dbo].[DriveSchedule] CHECK CONSTRAINT [CK_Drive_Status]
GO
ALTER TABLE [dbo].[DriveSchedule]  WITH CHECK ADD  CONSTRAINT [CK_Drive_Time] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [dbo].[DriveSchedule] CHECK CONSTRAINT [CK_Drive_Time]
GO
ALTER TABLE [dbo].[ElectricVehicle]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Payment] CHECK  (([PaymentMethod]=N'INSTALLMENT' OR [PaymentMethod]=N'MOMO' OR [PaymentMethod]=N'VNPAY' OR [PaymentMethod]=N'CASH'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Payment]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [CK_Order_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'COMPLETED' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [CK_Order_Status]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD CHECK  (([TotalPrice]>=(0)))
GO
USE [master]
GO
